{% extends "accounts/base_form.html" %}

{% block title %}Забравена парола{% endblock %}
{% block heading %}Забравена парола{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <p>
        <label>Имейл</label>
        <input type="email" name="email" required>
    </p>

    <div class="form-actions">
        <button type="submit" class="btn-primary">
              ↻ Изпрати код
        </button>

        <a href="{% url 'login' %}" class="btn-secondary">
            ↩ Обратно
        </a>
    </div>
</form>
{% endblock %}