{% extends "accounts/base_form.html" %}

{% block title %}Смяна на парола{% endblock %}
{% block heading %}Смяна на парола{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <p>
        <label>Код от имейла</label>
        <input type="text" name="code" maxlength="6" required>
    </p>

    <p>
        <label>Нова парола</label>
        <input type="password" name="password" required>
    </p>

    <p>
        <label>Потвърди паролата</label>
        <input type="password" name="password_confirm" required>
    </p>

    <div class="form-actions">
        <button type="submit" class="btn-primary">
            ⇄ Смени паролата
        </button>
    </div>
</form>

<div class="auth-links">
    <div class="auth-register">
        Не получи код?
        <a href="{% url 'resend_reset_code' %}" class="auth-link-strong">
            ↻ Изпрати нов код
        </a>
    </div>
</div>
{% endblock %}